{% extends "base.html" %}

{% block content %}
    <h1 class="my-5">These are the Books:</h1>

    <div class="row row-cols3 g-2">
        {% for book in books %}
        <div class="col">
            <div class="p-3 border">
                <a href="{% url 'books.detail' pk=book.id %}" class="text-dark text-decoration-non">
                    <h3>{{book.title}}</h3>
                </a>
                {{book.text|truncatechars:10}}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
